{% extends 'base.html' %}
{% block content%}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        {% if messages %}
        {% for message in messages  %}
        <p class="text-success">{{message}}</p>
        {% endfor %}
        {% endif %}
        <br>
        {% if user.is_authenticated %}
        <h1 class="text-dark">Hello {{request.user}}!</h1>
        {% endif %}
        <p>One can log in and report an incident and view saved incident.</p>
        <p>Admin can view the forms.</p>
    </div>
</div>
{% endblock %}